@model CarApp.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vinNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vinNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.engineType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engineType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make1.make1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make1.make1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model1.model1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model1.model1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
